@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap");
.btn {
  padding: 1rem 2rem;
  border-radius: 0.75rem;
}

.callToAction {
  background-color: #117205;
}
.callToAction:hover {
  background-color: #18a307;
}

.hidden {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
}

html {
  font-size: 63.5%;
}

body {
  font-size: 1.5rem;
  line-height: 1.6;
  font-family: "Montserrat", serif;
  font-weight: 200;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.nav-desktop {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  border-bottom: solid gray thin;
  align-items: center;
  background-color: #170e0e;
  position: fixed;
  width: 100%;
}
.nav-desktop ul {
  display: flex;
}
.nav-desktop li:hover {
  background-color: rgba(77, 77, 77, 0.75);
}

.nav-mobile {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #170e0e;
}
.nav-mobile .nav-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}
.nav-mobile ul {
  display: flex;
  flex-direction: column;
  background-color: #170e0e;
  z-index: 3;
}
.nav-mobile ul li {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: #170e0e;
}
.nav-mobile ul li:hover {
  background-color: gray;
}
.nav-mobile .mobileNavIcon {
  color: white;
}

.hero-wrapper {
  background-image: url("../images/hero.jpg");
  height: 100vh;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}

main {
  text-align: center;
  color: white;
  padding: 25vh 0;
}
main h1 {
  font-size: 10rem;
  line-height: 1.5;
  font-weight: 200;
  text-align: center;
}
main p {
  font-size: 6rem;
  margin-bottom: 2rem;
  font-weight: 200;
}
main .callToAction {
  display: block;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  font-size: 3rem;
}
main .callToAction:hover {
  background-color: #18a307;
}

.menuSelection {
  margin: 0 4rem;
}
.menuSelection h2 {
  text-align: center;
  font-size: 6rem;
  font-weight: 200;
  padding-top: 2rem;
}
.menuSelection .menuSelectionNav {
  display: flex;
  justify-content: space-around;
  margin: 0 10vw;
  max-width: 500px;
  margin: 0 auto;
  border-bottom: thin gray solid;
  margin-bottom: 2rem;
}
.menuSelection .menuSelectionNav li {
  width: fit-content;
}
.menuSelection .menuSelectionNav li button {
  background: none;
  border: none;
  font-size: 3rem;
  color: #4e4e4e;
  margin: 1rem;
}
.menuSelection .menuSelectionNav li button:hover {
  background: rgba(111, 45, 45, 0.5);
  color: rgba(116, 9, 9, 0.774);
  cursor: pointer;
}
.menuSelection .menuItems > ul {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
}
.menuSelection .menuItems > ul > li {
  width: 45%;
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: thin gray solid;
  margin-left: 1rem;
}
.menuSelection .menuItems > ul > li h6 {
  font-size: 1.8rem;
  font-weight: 500;
  color: rgba(116, 9, 9, 0.774);
}
.menuSelection .menuItems > ul > li ul > li {
  line-height: 2;
  padding-left: 2rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: #636363;
}
.menuSelection .menuItems > ul > li img {
  width: 60%;
  border-radius: 1rem;
}

.pizzas {
  display: flex;
}

.sides,
.drinks,
.desserts {
  display: none;
}

.about {
  text-align: center;
}
.about .container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 800px;
  margin: 0 auto;
}
.about .container .aboutImage {
  width: 50%;
  padding: 2rem;
}
.about .container .aboutImage img {
  width: 100%;
}
.about .container .aboutImage a {
  color: black;
}
.about .container .aboutParagraph {
  width: 50%;
  padding: 2rem;
  text-align: start;
}
.about .container .aboutParagraph p {
  text-indent: 3rem;
  margin-bottom: 4rem;
}
.about h2 {
  text-align: center;
  font-size: 6rem;
  font-weight: 200;
  padding-top: 2rem;
}
.about p {
  line-height: 2;
  padding-left: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #636363;
}

footer {
  background-color: #170e0e;
  padding: 3rem 0 0 0;
}
footer .container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row wrap;
  margin: 0 5rem;
  margin-bottom: 4rem;
}
footer .container div {
  color: white;
}
footer .container div h6 {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  border-bottom: thin white solid;
  padding: 0;
  width: fit-content;
}
footer .container div li {
  margin-bottom: 0.5rem;
}
footer .container div a {
  color: white;
}
footer cite {
  font-size: 1rem;
}

@media (max-width: 1100px) {
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: block;
  }

  .menuSelection .menuItems ul > li {
    width: 100%;
  }
  .menuSelection .menuItems ul > li h6 {
    font-size: 2rem;
  }
  .menuSelection .menuItems ul > li ul > li {
    font-size: 1.5rem;
  }

  .about .container {
    display: block;
  }
  .about .container .aboutImage,
.about .container .aboutParagraph {
    width: 100%;
  }
  .about .container img {
    width: 100%;
    background-image: cover;
  }

  main {
    padding: 10rem 0;
  }
  main h1 {
    font-size: 8rem;
  }
  main p {
    font-size: 5rem;
  }
}
@media (max-width: 660px) {
  .menuSelection {
    margin: 0 2rem;
  }
  .menuSelection h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: 200;
  }
  .menuSelection .menuSelectionNav li button {
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
  }
  .menuSelection .menuItems ul > li {
    width: 100%;
    display: block;
  }
  .menuSelection .menuItems ul > li div, .menuSelection .menuItems ul > li img {
    width: 100%;
  }
  .menuSelection .menuItems ul > li h6 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .menuSelection .menuItems ul > li div > ul {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-bottom: 1rem;
    align-items: center;
    text-align: center;
  }

  .about .container {
    display: block;
  }
  .about .container div {
    width: 100%;
  }
  .about .container img {
    width: 100%;
  }

  main {
    padding: 10rem 0;
  }
  main h1 {
    font-size: 6rem;
  }
  main p {
    font-size: 4rem;
  }

  footer {
    padding: 2rem 0 0 0;
  }
  footer .container {
    align-items: flex-start;
    flex-flow: column wrap;
    margin: 0 2.5rem;
    margin-bottom: 2rem;
  }
  footer .container div h6 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  footer .container div li {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
